<!-- management.ejs -->

<h1>
    <%= title %>
</h1>

<h2>
    <%= welcome %>
</h2>

<%- messages() %>

    <!-- Links to trigger add new classification and add new inventory views -->
    <div id="management-container">
        <ul id="management-list">
            <li><a href="#">Edit Account Information</a></li>
        </ul>

        <% if (account_type=="Employee" || account_type=="Admin" ) { %>
            <h2>Inventory Management</h2>
            <ul id="management-list">
                <li><a href="/inv/">Manage inventory</a></li>
            </ul>
            <% } %>

    </div>