<!-- management.ejs -->

<h1>
    <%= title %>
</h1>

<%- messages() %>

    <!-- Links to trigger add new classification and add new inventory views -->
    <div id="management-container">
        <ul id="management-list">
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
    </div>