<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <% res.redirect('/') %>
            <% } %>

                <div>
                    <% if (error=='Server Error' ) { %>
                        <img src="/images/site/error500.jpg" alt="Error Image"
                            style="display:block;margin:auto;width:50%;">
                        <% } else { %>
                            <img src="/images/site/error404.jpg" alt="Error Image"
                                style="display:block;margin:auto;width:50%;">
                            <% } %>
                </div>

                <% if (message) { %>
                    <p style="font-size: 2em;display:block;margin:auto;width:50%;">
                        <%= message %>
                    </p>
                    <% } %>